/* SASS MIXINS */
/* GroupBegin Global */
body:before {
  content: "480";
}

.show480 {
  display: block;
}

.hide480 {
  display: none;
}

#gb-icons {
  padding: 10px 0;
}
#gb-icons .content-wrap {
  padding: 0;
}

.cs-global-icons li {
  width: 50%;
}
.cs-global-icons a {
  width: 100%;
  height: auto;
  padding-bottom: 5px;
}
.cs-global-icons .text {
  font-size: 0.75rem;
  min-height: 32px;
}
.cs-global-icons .icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* GroupEnd */
/* GroupBegin Header */
.header-row.two {
  padding-bottom: 22px;
}
.header-row.two .content-wrap {
  padding: 0 17px;
}

#gb-sitename h1 {
  font-size: 1.39rem;
}

#gb-logo {
  width: 68px;
}

/* GroupEnd */
/* GroupBegin Footer */
#gb-social {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 12px;
}

.gb-social-media-icon {
  margin: 0 14px 18px;
}

#gb-contact {
  padding: 30px 23px 20px;
}
#gb-contact p:last-child {
  margin-bottom: 0;
}
#gb-contact h2 {
  font-size: 1.25rem;
}

.contact-column {
  display: block;
}
.contact-column.two {
  padding-left: 30px;
}
.contact-column.two::before {
  display: none;
}

.footer-row.one .footer-column.two {
  height: 160px;
}

.footer-row.three .content-wrap {
  padding: 0 10px;
}
.footer-row.three .footer-column.two {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 9px;
}

.footer-link {
  margin-bottom: 6px;
}

#gb-bb-footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gb-bb-footer.logo {
  margin-right: 0;
}

.gb-bb-footer.links ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gb-bb-footer.links a {
  text-align: center;
}
.gb-bb-footer.links li:last-child {
  margin-top: -8px;
}

.gb-bb-footer.copyright {
  text-align: center;
}

/* GroupEnd */
/* GroupBegin Apps */
/* GroupEnd */
/* GroupBegin Homepage */
#hp-slideshow-outer #hp-slideshow .mmg-control-wrapper,
#hp-slideshow-outer #hp-slideshow .cs-fullscreen-video-buttons {
  bottom: -30px;
}
#hp-slideshow-outer #hp-slideshow .mmg-control,
#hp-slideshow-outer #hp-slideshow .cs-fullscreen-video-button {
  height: 42px;
  width: 42px;
  border-width: 2px;
  margin: 0 4px;
  font-size: 18px;
}
#hp-slideshow-outer #hp-slideshow .mmg-description,
#hp-slideshow-outer #hp-slideshow .mmg-description:not(.sv) {
  padding: 46px 15px 30px;
}
#hp-slideshow-outer #hp-slideshow .mmg-description-caption {
  padding-top: 5px;
  line-height: 1.7;
}

.ui-hp div.ui-widget.app div.ui-widget-header[data-more-link=true]::before {
  display: none;
}

.ui-hp div.ui-widget.app div.ui-widget-header[data-more-link=true] a {
  border: 0;
  margin-top: 6px;
}

.ui-hp div.ui-widget.app div.ui-widget-header[data-more-link=true] {
  display: block;
}

.headlines-column {
  width: 100%;
}
.headlines-column:nth-child(2) {
  display: none;
}
.headlines-column .cs-article-wrapper {
  padding-bottom: 16px;
}
.headlines-column .cs-article-wrapper .ui-article-title {
  padding: 13px 15px 0;
}
.headlines-column .cs-article-wrapper .ui-article-description {
  padding: 9px 15px 0;
}

.hp-row.three .headlines .ui-articles,
.hp-row.four .headlines .ui-articles {
  display: block;
}

.ui-hp div.ui-widget.app div.ui-widget-header[data-more-link=true][data-slider-controls=true] .view-calendar-link {
  padding-left: 12px;
  margin-top: 0;
}
.ui-hp div.ui-widget.app div.ui-widget-header[data-more-link=true][data-slider-controls=true] .view-calendar-link::before {
  display: none;
}

.hp-row.five .content-wrap {
  display: block;
}
.hp-row.five .content-wrap .hp-column {
  width: auto;
  max-width: none;
}

/* GroupEnd */
/* GroupBegin Subpage */
/* GroupEnd */