@charset "UTF-8";
/* SASS MIXINS */
/* GroupBegin Global */
body:before {
  content: "768";
}

.ui-column-one-quarter.region {
  width: 50%;
  float: left;
  clear: left;
}

.ui-column-one-third.region {
  width: 50%;
  float: left;
}

.ui-column-two-thirds.region {
  width: 50%;
  float: left;
}

.region.right {
  float: left;
}

.region.clearleft {
  clear: none;
}

/* HIDDEN ELEMENTS */
#header-background-title,
.header-row.one,
.header-row.three,
.footer-row.two {
  display: none;
}

#gb-icons {
  padding: 30px 0 35px;
}
#gb-icons .content-wrap {
  padding: 0 18px;
}

.cs-global-icons li {
  padding: 10px;
}
.cs-global-icons a {
  width: 160px;
  height: 128px;
}
.cs-global-icons .icon {
  font-size: 2.8rem;
}

/* GroupEnd */
/* GroupBegin Header */
.header-row.mobile {
  background: #7e1416;
}

#rs-menu-btn {
  float: none;
  color: #fff;
  font-size: 0.93rem;
  height: 36px;
  width: 130px;
}
#rs-menu-btn::before {
  font-family: "template-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  background: transparent;
  font-size: 26px;
  left: 20px;
  top: 6px;
  padding: 0;
  position: absolute;
}
#rs-menu-btn span {
  padding: 9px 0px 0px 63px;
}

.header-row.two {
  margin-bottom: 0;
}
.header-row.two .content-wrap {
  padding: 0 20px;
}

#gb-logo {
  padding-right: 14px;
}

/* GroupEnd */
/* GroupBegin Footer */
.footer-row.one .content-wrap {
  display: block;
  padding: 0;
}
.footer-row.one .footer-column {
  height: auto;
}
.footer-row.one .footer-column.two {
  height: 350px;
}

#gb-social {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 26px 0;
}

.gb-social-media-icon {
  margin: 0 16px;
}

#gb-contact {
  max-width: 1192px;
  padding: 0px 30px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#gb-map {
  height: 100%;
}

#gb-google-map-link {
  position: relative;
  width: 100% !important;
}

.footer-row.three {
  padding-top: 23px;
}
.footer-row.three .content-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer-row.three .footer-column.two {
  padding-bottom: 20px;
}

.footer-link {
  margin: 0 10px 0 0;
}

/* GroupEnd */
/* GroupBegin Apps */
/* GroupEnd */
/* GroupBegin Homepage */
#hp-slideshow-outer #hp-slideshow .mmg-description:not(.sv) {
  padding-top: 48px;
  padding-bottom: 33px;
}
#hp-slideshow-outer #hp-slideshow .mmg-description-links {
  position: relative;
  right: auto;
  top: auto;
  text-align: center;
  padding-top: 10px;
}

.headlines-column {
  width: 50%;
}
.headlines-column:last-child {
  display: none;
}

.hp-row.three .site-shortcuts-column {
  margin: 0;
  padding: 0;
  width: auto;
}

.hp-row.four .site-shortcuts-column {
  margin: 0;
  padding: 0;
  width: auto;
}

.hp-row.five {
  padding-top: 26px;
}
.hp-row.five .double-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.hp-row.five .double-wrap .hp-column {
  width: 50%;
  max-width: 50%;
}

/* GroupEnd */
/* GroupBegin Subpage */
#sp-content {
  min-height: 0;
}

.sp-row.two {
  padding-top: 40px;
}
.sp-row.two .content-wrap {
  display: block;
  padding: 0 5px;
}
.sp-row.two .sp-column.one {
  padding: 0 25px;
}
.sp-row.two .sp-column.one div.ui-widget.app div.ui-widget-header {
  cursor: pointer;
}
.sp-row.two .sp-column.one div.ui-widget.app div.ui-widget-header::after {
  font-family: "template-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  position: absolute;
  right: 5px;
  top: 15px;
  font-size: 20px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.sp-row.two .sp-column.one .open div.ui-widget-header::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sp-row.two .sp-column.two {
  padding: 0;
}
.sp-row.two .sp-column.two #sw-content-layout-wrapper > div[id*=sw-content-layout] {
  width: 100%;
}

/* GroupEnd */