@import "../../../utilities/css/utilities";

/* GroupBegin Global */
body:before {
	content: "768";
}
.show768 {
	display: block;
}
.hide768 {
	display: none;
}
.ui-column-one-quarter.region {
	width: 50%;
	float: left;
	clear: left;
}
.ui-column-one-third.region {
	width: 50%;
	float: left;
}
.ui-column-two-thirds.region {
	width: 50%;
	float: left;
}
.region.right {
	float:left;
}
.region.clearleft {
	clear: none;
}
/* GroupEnd */

/* GroupBegin Header */
#rs-menu-btn {

}
#rs-menu-btn span {

}
#rs-menu-btn::before {
	
}
/* GroupEnd */

/* GroupBegin Footer */

/* GroupEnd */

/* GroupBegin Apps */

/* GroupEnd */

/* GroupBegin Homepage */

/* GroupEnd */

/* GroupBegin Subpage */

/* GroupEnd */