/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

	/* WCM TEMPLATE RESET CSS. 11.16 by Adam Cruse, Blackboard Creative Services
	THIS WILL OVERWRITE DEFAULT SYSTEMS STYLES ON COMMON ELEMENTS

	IN ORDER FOR THIS TO WORK IN A TEMPLATE, 
	IT WILL NEED TO BE LINKED TO FROM THE 
	TOP OF THE TEMPLATE CSS LIKE THIS:
	@import "/path/to/file/reset.css"; */

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

/* MYSTART */
#sw-mystart-outer {
	height:auto;
	background:none;
	background-color: transparent;
	font-family: inherit;
	color:inherit;
	text-align: inherit;
}
#sw-mystart-inner {
	height: auto;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	width:auto;
}
#sw-mystart-left {
	position: relative;
	left: auto;
	top:auto;
	height: auto;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}
#sw-mystart-right {
	position: relative;
	right:auto;
	top:auto;
	height:auto;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}
.sw-mystart-button.home {
	padding:0;
}
.sw-mystart-button {
	padding:0;
	margin: 0;
	font-weight: normal;
	height: auto;
	font-size: inherit;
	float: none;
}
.sw-mystart-dropdown {
	float: none;
	width: auto;
	height:auto;
	background-color: transparent;
	font-size: inherit;
	margin:0;
	padding:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
#sw-mystart-search {
	width: auto;
	font-size: inherit;
	margin: 0;
	float: none;
	background-color: transparent;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
#sw-search-input {
	float: none;
	width:auto;
	height: auto;
}
#sw-search-button {
	width:auto;
	height: auto;
	margin: 0;
	float: none;
	border:0;
}

/* APPS */
div.ui-widget.app .ui-widget-header {
	border-bottom: none;
}
div.ui-widget-header h1 {
	margin:0;
	font-size: inherit;
}
div.ui-article {
	padding:0;
}
div.ui-widget.app.navigation li div.bullet {
	background:none;
}
.ui-article-title a {
	color: inherit;
}
h1.ui-article-title {
	font-size: inherit;
	font-weight: inherit;
}
div.ui-widget.app.navigation div.ui-widget-header h1 {
	font-size: inherit;
}
li h1 {
	font-size: inherit;
}
.upcomingevents .sw-calendar-block-title,
.upcomingevents .sw-calendar-block-time {
	font-size: inherit;
}

/* FOOTER */
#sw-footer-outer {
	height:auto;
	background:none;
	font-family: inherit;
}
#sw-footer-inner {
	height: auto;
	width:auto;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
#sw-footer-left {
	position: relative;
	left: auto;
	top:auto;
	height:auto;
}
#sw-footer-right {
	position: relative;
	right:auto;
	top:auto;
	width:auto;
	height: auto;
	color: inherit;
	text-align: inherit;
}
#sw-footer-links {
	position: relative;
	right:auto;
	top:auto;
	font-size: inherit;
	text-align: inherit;
}
#sw-footer-logo {
	position: relative;
	top: auto;
	right: auto;
}
