<div id="gb-page" class="hp [$SiteAlias$]" data-slideshow-option='<SWCtrl controlname="Custom" props="Name:slideshowFeature" />'>
	<header id="gb-header">
		<section class="header-row mobile"></section>
		<section class="header-row one">
			<div class="cs-mystart-button home">
				<a class="cs-button-selector" href="/">District Home</a>
			</div>
			<div class="cs-mystart-dropdown our-schools">
				<div class="cs-dropdown-selector" tabindex="0" aria-label='Our Schools' role="button" aria-expanded="false" aria-haspopup="true">Our Schools</div>
				<div id="gb-schools-wrapper" aria-hidden="true" style="display:none;"></div>
			</div>
			<div class="cs-mystart-dropdown translate">
				<div class="cs-dropdown-selector" tabindex="0" aria-label='Translate' role="button" aria-expanded="false" aria-haspopup="true">Translate</div>
					<div class="cs-dropdown" aria-hidden="true" style="display:none;">
				</div>
			</div>
			<div class="cs-mystart-dropdown user-options">
				<div class="cs-dropdown-selector" tabindex="0" aria-label='User Options' role="button" aria-expanded="false" aria-haspopup="true">User Options</div>
				<div class="cs-dropdown" aria-hidden="true" style="display:none;">
					<ul class="cs-dropdown-list"></ul>
				</div>
			</div>
			<div class="cs-mystart-button search">
				<div class="cs-button-selector" tabindex="0" aria-label='Open Search' role="button" aria-expanded="false" aria-haspopup="true">Search</div>
				<div id="gb-search" aria-hidden="true">
					<div class="content-wrap">
						<form id="gb-search-form">
		                    <label for="gb-search-input">Search</label>
		                    <input type="text" id="gb-search-input" tabindex="-1" value="Search...">
							<button type="submit" form="gb-search-form" tabindex="-1" id="gb-search-button" aria-label="Submit Search"></button>
		                </form>
						<button id="search-control-close" aria-label="Close Search" tabindex="-1" aria-expanded="false" aria-controls="gb-search"></button>
					</div>
                </div>
			</div>
		</section>
		<section class="header-row two">
			<div role="presentation" id="header-background-title"><SWCtrl controlname="Custom" props="Name:headerText" /></div>
			<div class="content-wrap">
				<div id="gb-logo-sitename">
					<div id="gb-logo"></div>
					<div id="gb-sitename">
						<h1>
							<span class="sitename"><SWCtrl controlname="Custom" props="Name:schoolNameLineOneText" /></span>
							<span class="sitename"><SWCtrl controlname="Custom" props="Name:schoolNameLineTwoText" /></span>
						</h1>
					</div>
				</div>
			</div>
		</section>
		<section class="header-row three">
			<nav id="gb-channel-bar" class="content-wrap">
				[$ChannelListNavigation props="DisplayType:Text;SectionMax:<SWCtrl controlname="Custom" props="Name:sectionMax" />;DirectoryType:6;DisplayHomeButton:<SWCtrl controlname="Custom" props="Name:showHomeChannel" />;DisplayCalendarButton:<SWCtrl controlname="Custom" props="Name:showCalendarChannel" />;HideSingleSectionDD:<SWCtrl controlname="Custom" props="Name:hideSingleSectionDD" />"$]
			</nav>
		</section>
	</header>
	<main id="hp-content" data-event-background-opacity='<SWCtrl controlname="Custom" props="Name:upcomingEventsBackgroundColorOpacity" />'>
		<section class="hp-row one" id="hp-slideshow-outer" data-use-mobile-background-photo='<SWCtrl controlname="Custom" props="Name:useMobileBackgroundPhoto" />
'>
			<div id="hp-slideshow">
				[$ContentRegion props="ContainerNumber:10"$]
			</div>
		</section>
		<section class="hp-row two" id="gb-icons" data-icon-num='<SWCtrl controlname="Custom" props="Name:numOfIcons" />' data-background-opacity='<SWCtrl controlname="Custom" props="Name:globalIconsBackgroundColorOpacity" />'>
			<div class="content-wrap"></div>
		</section>
		<section class="hp-row three">
			<div class="content-wrap">
				[$ContentRegion props="ContainerNumber:1"$]
			</div>
		</section>
		<section class="hp-row four">
			<div class="content-wrap">
				[$ContentRegion props="ContainerNumber:2"$]
			</div>
		</section>
		<section class="hp-row five">
			<div class="content-wrap">
				<div class="double-wrap">
					<div class="hp-column one">
						[$ContentRegion props="ContainerNumber:3"$]
					</div>
					<div class="hp-column two">
						[$ContentRegion props="ContainerNumber:4"$]
					</div>
					<div class="hp-column three">
						[$ContentRegion props="ContainerNumber:5"$]
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer id="gb-footer">
		<section class="footer-row one">
			<div class="content-wrap">
				<div class="footer-column one">
					<div id="gb-social">

					</div>
					<div id="gb-contact">
						<h2 id="footer-sitename">[$SiteName$]</h2>
						<p class="contact-info address" data-content="[$SiteAddressOne$]">
							<span class="contact-column one">[$SiteAddressOne$]</span>
							<span class="contact-column two">[$SiteCity$], [$SiteState$] [$SiteZip$]</span>
						</p>
						<p class="contact-info phone-fax">
							<span class="contact-column one" data-content="[$SiteContactPhone$]"><span role="presentation">P </span><span aria-label="Phone Number">[$SiteContactPhone$]</span></span>
							<span class="contact-column two" data-content="[$SiteContactFax$]"><span role="presentation">F </span><span aria-label="Fax Number">[$SiteContactFax$]</span></span>
						</p>
					</div>
				</div>
				<div class="footer-column two">
					<div id="gb-map">
						<a id="gb-google-map-link" aria-label="Go to Google Map for [$SiteName$]" href="//www.google.com/maps/place/[$SiteAddressOne$] [$SiteCity$] [$SiteState$] [$SiteZip$]" target="_blank">
		                  	<iframe tabindex="-1" title="Google Map" frameborder="0" width="100%" height="100%" src="https://www.google.com/maps/embed/v1/place?q=[$SiteAddressOne$] [$SiteCity$] [$SiteState$] [$SiteZip$]&amp;zoom=12&amp;key=AIzaSyCpnvqQ2kYwxbdiPGLDp5h8qqTsw_iHeYE"></iframe>
		              	</a>
					</div>
				</div>
			</div>
		</section>
		<section class="footer-row two">
			<div id="gb-to-top" role="button" tabindex="0">
				<span>Back to Top</span>
			</div>
		</section>
		<section class="footer-row three">
			<div class="content-wrap">
				<div class="footer-column one">
					<div id="gb-bb-footer" class="ui-clear">
						<div class="gb-bb-footer logo"></div>
						<div id="gb-schoolwires-footer-links-copyright">
							<div class="gb-bb-footer links ui-clear"></div>
							<div class="gb-bb-footer copyright"></div>
						</div>
					</div>
				</div>
				<div class="footer-column two">
					<a class="footer-link" data-content='<SWCtrl controlname="Custom" props="Name:extraFooterLinkUrl" />'' href='<SWCtrl controlname="Custom" props="Name:extraFooterLinkUrl" />' target='<SWCtrl controlname="Custom" props="Name:extraFooterLinkTarget" />'>
						<span><SWCtrl controlname="Custom" props="Name:extraFooterLinkText" /></span>
					</a>
					<a class="footer-link" href="/site/Default.aspx?PageType=15&SiteID=[$SiteID$]&SectionMax=15&DirectoryType=6">
						<span>Sitemap</span>
					</a>
				</div>
			</div>
		</section>
	</footer>
</div>
