<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="//extend.schoolwires.com/creative/scripts/creative/tools/creative-icons-v4/css/creativeIcons.v4.min.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Work+Sans:ital,wght@0,400;0,500;0,600;1,100;1,500&display=swap" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="//extend.schoolwires.com/creative/scripts/creative/global/css/cs.global.min.css" />

<script type="text/javascript" src="../src/template/assets/cs.mega.school.tabs.js"></script>

<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/creative/global/js/cs.global.min.js"></script>
<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/creative/tools/head.min.js"></script>
<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/creative/tools/streaming-video/cs.fullscreen.video.min.js"></script>
<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/creative/tools/creative-icons-v4/creativeIcons.v4.min.js"></script>
<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/creative/responsive/creative-responsive-menu-v3/creative.responsive.menu.v3.min.js"></script>
<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/joel/mod-events/joel.mod-events.min.js"></script>
<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/creative/tools/creative-translate/creative.translate.min.js"></script>
<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/creative/responsive/creative-app-accordion/creative.app.accordion.min.js"></script>
<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/creative/responsive/creative-article-slider/cs.article.slider.min.js"></script>
<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/creative/tools/tcw-upgrade/cs.tcw.upgrade.min.js"></script>
<script type="text/javascript" src="https://az50000698.schoolwires.net/cms/lib/AZ50000698/Centricity/Domain/4//SLM/school-list-config.txt"></script>


<script type="text/javascript">/******/ (function() { // webpackBootstrap
function _defineProperty(obj, key, value) { if (key in obj) { Object.defineProperty(obj, key, { value: value, enumerable: true, configurable: true, writable: true }); } else { obj[key] = value; } return obj; }

$(window).on("load", function () {
  CreativeTemplate.WindowLoad();
});
$(function () {
  CreativeTemplate.Init();
});
window.CreativeTemplate = {
  // PROPERTIES
  "KeyCodes": {
    "tab": 9,
    "enter": 13,
    "esc": 27,
    "space": 32,
    "end": 35,
    "home": 36,
    "left": 37,
    "up": 38,
    "right": 39,
    "down": 40
  },
  "IsMyViewPage": false,
  // UPDATES IN SetTemplateProps METHOD
  "ShowDistrictHome": true,
  "ShowSchoolList": false,
  // UPDATES IN SetTemplateProps METHOD
  "ShowTranslate": true,
  // METHODS
  "Init": function Init() {
    // FOR SCOPE
    var _this = this;

    csGlobalJs.OpenInNewWindowWarning();
    this.SetTemplateProps();
    this.MyStart();
    this.JsMediaQueries();
    this.SchoolList();
    this.Translate();
    this.Header();
    this.Search();
    this.RsMenu();
    this.ChannelBar();
    this.StickyChannelBar();

    if ($("#gb-page.hp").length) {
      this.Slideshow();
      this.CheckSlideshow();
      this.StreamingVideo();
      this.Homepage();
      this.Shortcuts();
      this.Headlines();
    }

    this.Body();
    this.ModEvents();
    this.GlobalIcons();
    this.SocialIcons();
    this.AppAccordion();
    this.Footer();
    $(window).resize(function () {
      _this.WindowResize();
    });
    $(window).scroll(function () {
      _this.WindowScroll();
    });
  },
  "SetTemplateProps": function SetTemplateProps() {
    // MYVIEW PAGE CHECK
    if ($("#pw-body").length) this.IsMyViewPage = true; // SCHOOL LIST CHECK

    if ($(".sw-mystart-dropdown.schoollist").length) this.ShowSchoolList = true;
  },
  "WindowLoad": function WindowLoad() {},
  "WindowResize": function WindowResize() {
    this.JsMediaQueries();
    this.CheckSlideshow();
    this.Headlines();
    this.Shortcuts();
  },
  "WindowScroll": function WindowScroll() {
    this.CheckSlideshow();
  },
  "JsMediaQueries": function JsMediaQueries() {
    switch (this.GetBreakPoint()) {
      case "desktop":
        //console.log(CreativeTemplate);
        break;

      case "768":
        break;

      case "640":
        break;

      case "480":
        break;

      case "320":
        break;
    }
  },
  "MyStart": function MyStart() {
    // FOR SCOPE
    var _this = this; // BUILD USER OPTIONS DROPDOWN


    var userOptionsItems = ""; // [$IF LOGGED IN$]
    // MYVIEW BUTTON

    if ($(".sw-mystart-button.pw").length) {
      userOptionsItems += '<li><a href="' + window.location.protocol + '//' + window.location.host + '/myview"><span>MyView</span></a></li>';
    } // SITE MANAGER BUTTON


    if ($(".sw-mystart-button.manage").length) {
      $(".sw-mystart-button.manage a").attr("onclick", $(".sw-mystart-button.manage a").attr("onclick") + "return false;");
      userOptionsItems += '<li id="user-options-manage"><a href="#" onclick="' + $(".sw-mystart-button.manage a").attr("onclick") + '"><span>Site Manager</span></a></li>';
    } // MY ACCOUNT BUTTONS


    $("#sw-myaccount-list > li:first-child a span").text("My Account");
    $("#sw-myaccount-list > li").each(function () {
      userOptionsItems += "<li>" + $(this).html() + "</li>";
    }); // MY PASSKEYS BUTTON

    if ($("#sw-mystart-mypasskey").length) {
      $("#sw-mystart-mypasskey a span").text("Passkeys");
      $("#ui-btn-mypasskey").addClass("cs-selector district");
      $("#sw-mystart-mypasskey").addClass("cs-mystart-dropdown").removeClass("sw-mystart-button").appendTo(".header-row.one .header-column.one");
    } //CHECK FOR DASHBOARD


    if ($("#dashboard-sidebar").length) {
      $("#gb-header-top > .gb-section").css("padding-left", "57px");
    } // /*[$ELSE IF LOGGED]*/
    // SIGNIN BUTTON


    if ($(".sw-mystart-button.signin").length) {
      userOptionsItems += "<li>" + $(".sw-mystart-button.signin").html() + "</li>";
    } // REGISTER BUTTON


    if ($(".sw-mystart-button.register").length) {
      userOptionsItems += "<li>" + $(".sw-mystart-button.register").html() + "</li>";
    } // [$END IF LOGGED IN$]
    // ADD USER OPTIONS DROPDOWN TO THE DOM


    $(".cs-mystart-dropdown.user-options .cs-dropdown-list").html(userOptionsItems); // BIND DROPDOWN EVENTS

    this.DropdownActions({
      "dropdownParent": ".cs-mystart-dropdown.user-options",
      "dropdownSelector": ".cs-dropdown-selector",
      "dropdown": ".cs-dropdown",
      "dropdownList": ".cs-dropdown-list"
    });
  },
  "SchoolList": function SchoolList() {
    $("#gb-schools-wrapper").megaSchoolTabs({
      tabNames: ["Pre-Kindergarten", "K-6", "K-8", "Middle"],
      //MUST MATCH SCHOOL TYPE IN SLM
      columnsInTabs: true,
      numberOfColumnsPerTab: 4,
      createuSchools: true,
      addSchoolWordTouItems: false,
      parentFocusSelector: ".cs-mystart-dropdown.our-schools .cs-dropdown-selector",
      allLoaded: function allLoaded() {}
    });
  },
  "Translate": function Translate() {
    // ADD TRANSLATE
    if (this.ShowTranslate) {
      $(".cs-mystart-dropdown.translate .cs-dropdown").creativeTranslate({
        "type": 2,
        // 1 = FRAMESET, 2 = BRANDED, 3 = API
        "languages": [// ["ENGLISH LANGUAGE NAME", "TRANSLATED LANGUAGE NAME", "LANGUAGE CODE"]
        ["Afrikaans", "Afrikaans", "af"], ["Albanian", "shqiptar", "sq"], ["Amharic", "አማርኛ", "am"], ["Arabic", "العربية", "ar"], ["Armenian", "հայերեն", "hy"], ["Azerbaijani", "Azərbaycan", "az"], ["Basque", "Euskal", "eu"], ["Belarusian", "Беларуская", "be"], ["Bengali", "বাঙালি", "bn"], ["Bosnian", "bosanski", "bs"], ["Bulgarian", "български", "bg"], ["Burmese", "မြန်မာ", "my"], ["Catalan", "català", "ca"], ["Cebuano", "Cebuano", "ceb"], ["Chichewa", "Chichewa", "ny"], ["Chinese Simplified", "简体中文", "zh-CN"], ["Chinese Traditional", "中國傳統的", "zh-TW"], ["Corsican", "Corsu", "co"], ["Croatian", "hrvatski", "hr"], ["Czech", "čeština", "cs"], ["Danish", "dansk", "da"], ["Dutch", "Nederlands", "nl"], ["Esperanto", "esperanto", "eo"], ["Estonian", "eesti", "et"], ["Filipino", "Pilipino", "tl"], ["Finnish", "suomalainen", "fi"], ["French", "français", "fr"], ["Galician", "galego", "gl"], ["Georgian", "ქართული", "ka"], ["German", "Deutsche", "de"], ["Greek", "ελληνικά", "el"], ["Gujarati", "ગુજરાતી", "gu"], ["Haitian Creole", "kreyòl ayisyen", "ht"], ["Hausa", "Hausa", "ha"], ["Hawaiian", "ʻŌlelo Hawaiʻi", "haw"], ["Hebrew", "עִברִית", "iw"], ["Hindi", "हिंदी", "hi"], ["Hmong", "Hmong", "hmn"], ["Hungarian", "Magyar", "hu"], ["Icelandic", "Íslenska", "is"], ["Igbo", "Igbo", "ig"], ["Indonesian", "bahasa Indonesia", "id"], ["Irish", "Gaeilge", "ga"], ["Italian", "italiano", "it"], ["Japanese", "日本語", "ja"], ["Javanese", "Jawa", "jw"], ["Kannada", "ಕನ್ನಡ", "kn"], ["Kazakh", "Қазақ", "kk"], ["Khmer", "ភាសាខ្មែរ", "km"], ["Korean", "한국어", "ko"], ["Kurdish", "Kurdî", "ku"], ["Kyrgyz", "Кыргызча", "ky"], ["Lao", "ລາວ", "lo"], ["Latin", "Latinae", "la"], ["Latvian", "Latvijas", "lv"], ["Lithuanian", "Lietuvos", "lt"], ["Luxembourgish", "lëtzebuergesch", "lb"], ["Macedonian", "Македонски", "mk"], ["Malagasy", "Malagasy", "mg"], ["Malay", "Malay", "ms"], ["Malayalam", "മലയാളം", "ml"], ["Maltese", "Malti", "mt"], ["Maori", "Maori", "mi"], ["Marathi", "मराठी", "mr"], ["Mongolian", "Монгол", "mn"], ["Myanmar", "မြန်မာ", "my"], ["Nepali", "नेपाली", "ne"], ["Norwegian", "norsk", "no"], ["Nyanja", "madambwe", "ny"], ["Pashto", "پښتو", "ps"], ["Persian", "فارسی", "fa"], ["Polish", "Polskie", "pl"], ["Portuguese", "português", "pt"], ["Punjabi", "ਪੰਜਾਬੀ ਦੇ", "pa"], ["Romanian", "Română", "ro"], ["Russian", "русский", "ru"], ["Samoan", "Samoa", "sm"], ["Scottish Gaelic", "Gàidhlig na h-Alba", "gd"], ["Serbian", "Српски", "sr"], ["Sesotho", "Sesotho", "st"], ["Shona", "Shona", "sn"], ["Sindhi", "سنڌي", "sd"], ["Sinhala", "සිංහල", "si"], ["Slovak", "slovenský", "sk"], ["Slovenian", "slovenski", "sl"], ["Somali", "Soomaali", "so"], ["Spanish", "Español", "es"], ["Sundanese", "Sunda", "su"], ["Swahili", "Kiswahili", "sw"], ["Swedish", "svenska", "sv"], ["Tajik", "Тоҷикистон", "tg"], ["Tamil", "தமிழ்", "ta"], ["Telugu", "తెలుగు", "te"], ["Thai", "ไทย", "th"], ["Turkish", "Türk", "tr"], ["Ukrainian", "український", "uk"], ["Urdu", "اردو", "ur"], ["Uzbek", "O'zbekiston", "uz"], ["Vietnamese", "Tiếng Việt", "vi"], ["Welsh", "Cymraeg", "cy"], ["Western Frisian", "Western Frysk", "fy"], ["Xhosa", "isiXhosa", "xh"], ["Yiddish", "ייִדיש", "yi"], ["Yoruba", "yorùbá", "yo"], ["Zulu", "Zulu", "zu"]],
        "advancedOptions": {
          "addMethod": "append",
          // PREPEND OR APPEND THE TRANSLATE ELEMENT
          "dropdownHandleText": "Translate",
          // ONLY FOR FRAMESET AND API VERSIONS AND NOT USING A CUSTOM ELEMENT
          "customElement": {
            // ONLY FOR FRAMESET AND API VERSIONS
            "useCustomElement": false,
            "translateItemsList": true,
            // true = THE TRANSLATE ITEMS WILL BE AN UNORDERED LIST, false = THE TRANSLATE ITEMS WILL JUST BE A COLLECTION OF <a> TAGS
            "customElementMarkup": "" // CUSTOM HTML MARKUP THAT MAKES THE CUSTOM TRANSLATE ELEMENT/STRUCTURE - USE [$CreativeTranslateListItems$] ACTIVE BLOCK IN THE MARKUP WHERE THE TRANSLATE ITEMS SHOULD BE ADDED

          },
          "apiKey": "",
          // ONLY FOR API VERSION
          "brandedLayout": 1,
          // 1 = VERTICAL (TEXT UNDER SELECT), 2 = HORIZONTAL (TEXT BESIDE SELECT), 3 = NON-RESPONSIVE MEGA DROPDOWN
          "removeBrandedDefaultStyling": false // 1 = VERTICAL (TEXT UNDER SELECT), 2 = HORIZONTAL (TEXT BESIDE SELECT), 3 = NON-RESPONSIVE MEGA DROPDOWN

        },
        "translateLoaded": function translateLoaded() {}
      }); // BIND DROPDOWN EVENTS

      this.DropdownActions({
        "dropdownParent": ".cs-mystart-dropdown.translate",
        "dropdownSelector": ".cs-dropdown-selector",
        "dropdown": ".cs-dropdown",
        "dropdownList": ".cs-dropdown-list"
      });
    }
  },
  "DropdownActions": function DropdownActions(params) {
    // FOR SCOPE
    var template = this;
    var dropdownParent = params.dropdownParent;
    var dropdownSelector = params.dropdownSelector;
    var dropdown = params.dropdown;
    var dropdownList = params.dropdownList;
    $(dropdownParent + " " + dropdownList + " a").attr("tabindex", "-1"); // MYSTART DROPDOWN SELECTOR CLICK EVENT

    $(dropdownParent).on("click", dropdownSelector, function (e) {
      e.preventDefault();

      if ($(this).parent().hasClass("open")) {
        $("+ " + dropdownList + " a").attr("tabindex", "-1");
        $(this).attr("aria-expanded", "false").parent().removeClass("open").find(dropdown).attr("aria-hidden", "true").slideUp(300, "swing");
      } else {
        $(this).attr("aria-expanded", "true").parent().addClass("open").find(dropdown).attr("aria-hidden", "false").slideDown(300, "swing");
      }
    }); // MYSTART DROPDOWN SELECTOR KEYDOWN EVENTS

    $(dropdownParent).on("keydown", dropdownSelector, function (e) {
      // CAPTURE KEY CODE
      switch (e.keyCode) {
        // CONSUME LEFT AND UP ARROWS
        case template.KeyCodes.enter:
        case template.KeyCodes.space:
          e.preventDefault(); // IF THE DROPDOWN IS OPEN, CLOSE IT

          if ($(dropdownParent).hasClass("open")) {
            $("+ " + dropdown + " " + dropdownList + " a").attr("tabindex", "-1");
            $(this).attr("aria-expanded", "false").parent().removeClass("open").find(dropdown).attr("aria-hidden", "true").slideUp(300, "swing");
          } else {
            $(this).attr("aria-expanded", "true").parent().addClass("open").find(dropdown).attr("aria-hidden", "false").slideDown(300, "swing", function () {
              $(dropdownList + " li:first-child a", this).attr("tabindex", "0").focus();
            });
          }

          break;
        // CONSUME TAB KEY

        case template.KeyCodes.tab:
          if ($("+ " + dropdown + " " + dropdownList + " a").length) {
            $("+ " + dropdown + " " + dropdownList + " a").attr("tabindex", "-1");
            $(this).attr("aria-expanded", "false").parent().removeClass("open").find(dropdown).attr("aria-hidden", "true").slideUp(300, "swing");
          }

          break;
        // CONSUME LEFT AND UP ARROWS

        case template.KeyCodes.down:
        case template.KeyCodes.right:
          e.preventDefault();
          $("+ " + dropdown + " " + dropdownList + " a").attr("tabindex", "-1");
          $("+ " + dropdown + " " + dropdownList + " li:first-child > a", this).attr("tabindex", "0").focus();
          break;
      }
    }); // MYSTART DROPDOWN LINK KEYDOWN EVENTS

    $(dropdownParent).on("keydown", dropdownList + " li a", function (e) {
      // CAPTURE KEY CODE
      switch (e.keyCode) {
        // CONSUME LEFT AND UP ARROWS
        case template.KeyCodes.left:
        case template.KeyCodes.up:
          e.preventDefault(); // IS FIRST ITEM

          if ($(this).parent().is(":first-child")) {
            // FOCUS DROPDOWN BUTTON
            $(this).closest(dropdownList).find("a").attr("tabindex", "-1");
            $(this).closest(dropdownParent).find(dropdownSelector).focus();
          } else {
            // FOCUS PREVIOUS ITEM
            $(this).closest(dropdownList).find("a").attr("tabindex", "-1");
            $(this).parent().prev("li").find("> a").attr("tabindex", "0").focus();
          }

          break;
        // CONSUME RIGHT AND DOWN ARROWS

        case template.KeyCodes.right:
        case template.KeyCodes.down:
          e.preventDefault(); // IS LAST ITEM

          if ($(this).parent().is(":last-child")) {
            // FOCUS FIRST ITEM
            $(this).closest(dropdownList).find("a").attr("tabindex", "-1");
            $(this).closest(dropdownList).find("li:first-child > a").attr("tabindex", "0").focus();
          } else {
            // FOCUS NEXT ITEM
            $(this).closest(dropdownList).find("a").attr("tabindex", "-1");
            $(this).parent().next("li").find("> a").attr("tabindex", "0").focus();
          }

          break;
        // CONSUME TAB KEY

        case template.KeyCodes.tab:
          if (e.shiftKey) {
            e.preventDefault(); // FOCUS DROPDOWN BUTTON

            $(this).closest(dropdownList).find("a").attr("tabindex", "-1");
            $(this).closest(dropdownParent).find(dropdownSelector).focus();
          }

          break;
        // CONSUME HOME KEY

        case template.KeyCodes.home:
          e.preventDefault(); // FOCUS FIRST ITEM

          $(this).closest(dropdownList).find("a").attr("tabindex", "-1");
          $(this).closest(dropdownList).find("li:first-child > a").attr("tabindex", "0").focus();
          break;
        // CONSUME END KEY

        case template.KeyCodes.end:
          e.preventDefault(); // FOCUS LAST ITEM

          $(this).closest(dropdownList).find("a").attr("tabindex", "-1");
          $(this).closest(dropdownList).find("li:last-child > a").attr("tabindex", "0").focus();
          break;
        // CONSUME ESC KEY

        case template.KeyCodes.esc:
          e.preventDefault(); // FOCUS DROPDOWN BUTTON AND CLOSE DROPDOWN

          $(this).closest(dropdownParent).find(dropdownSelector).focus();
          $(this).closest(dropdownList).find("a").attr("tabindex", "-1");
          $(dropdownSelector).attr("aria-expanded", "false").parent().removeClass("open").find(dropdown).attr("aria-hidden", "true").slideUp(300, "swing");
          break;
      }
    });
    $(dropdownParent).mouseleave(function () {
      $(dropdownList + " a", this).attr("tabindex", "-1");
      $(dropdownSelector, this).attr("aria-expanded", "false").parent().removeClass("open").find(dropdown).attr("aria-hidden", "true").slideUp(300, "swing");
    }).focusout(function () {
      var thisDropdown = this;
      setTimeout(function () {
        if (!$(thisDropdown).find(":focus").length) {
          $(dropdownSelector, thisDropdown).attr("aria-expanded", "false").parent().removeClass("open").find(dropdown).attr("aria-hidden", "true").slideUp(300, "swing");
        }
      }, 500);
    });
  },
  "Header": function Header() {
    // ADD LOGO
    var logoSrc = jQuery.trim('');
    var srcSplit = logoSrc.split("/");
    var srcSplitLen = srcSplit.length;

    if (logoSrc != "" && srcSplit[srcSplitLen - 1] != "default-man.jpg") {
      $("#gb-logo").append("<a href='/[$SITEALIAS$]'><img src='" + logoSrc + "' alt='[$SiteName$] Logo' /></a>").removeClass("hidden");
    } else {
      $("#gb-logo").append("<a href='/[$SITEALIAS$]'><img width='100' height='94' src='src/template/assets/defaults/default-logo.png' alt='[$SiteName$] Logo' /></a>").removeClass("hidden");
    } //REMOVE SITENAME & TAGLINE IF EMPTY OR NOT IN USE


    if ($(".sitename-one").text().trim() == "" || $(".sitename-one").data("showSchoolName") === false) {
      $(".sitename-one").remove();
    }

    if ($(".sitename-tagline").text().trim() == "" || $(".sitename-tagline").data("showTagline") === false) {
      $(".sitename-tagline").remove();
    }
  },
  "ChannelBar": function ChannelBar() {
    $("#navc-HP span").text("").css("display", "block");
    $(".sw-channel-item").off('hover');
    $(".sw-channel-item").hover(function () {
      $(".sw-channel-item ul").stop(true, true);
      var subList = $(this).children('ul');

      if ($.trim(subList.html()) !== "") {
        subList.slideDown(300, "swing");
      }

      $(this).addClass("hover");
    }, function () {
      $(".sw-channel-dropdown").slideUp(300, "swing");
      $(this).removeClass("hover");
    });
  },
  "StickyChannelBar": function StickyChannelBar() {
    var headerHeight = $("#gb-header-bottom").outerHeight();
    var navHeight = $("#gb-header-top").outerHeight();
    $(document).scroll(function () {
      distanceFromTop = $(this).scrollTop();

      if (distanceFromTop >= headerHeight) {
        $("#gb-page").addClass("sticky-header");
      } else {
        $("#gb-page").removeClass("sticky-header");
      }

      if ($(".sp").length && $(".ui-widget.app.calendar").length) {
        if ($(".wcm-controls").hasClass("wcm-stuck")) {
          $(".wcm-controls").css("margin-top", navHeight);
        }
      }

      $("#sw-maincontent").css({
        "display": "block",
        "position": "relative",
        "top": "-" + navHeight + "px"
      });
    });
  },
  "Body": function Body() {
    // FOR SCOPE
    var _this = this; // AUTO FOCUS SIGN IN FIELD


    $("#swsignin-txt-username").focus(); // APPLY RESPONSIVE DIMENSIONS TO CONTENT IMAGES

    $(".ui-widget.app .ui-widget-detail img").not($(".ui-widget.app.multimedia-gallery .ui-widget-detail img")).each(function () {
      if ($(this).attr('width') !== undefined && $(this).attr('height') !== undefined) {
        // IMAGE HAS INLINE DIMENSIONS
        $(this).css({
          "display": "inline-block",
          "width": "100%",
          "max-width": $(this).attr("width") + "px",
          "height": "auto",
          "max-height": $(this).attr("height") + "px"
        });
      }
    }); // ADJUST FIRST BREADCRUMB

    $("li.ui-breadcrumb-first > a > span").text("Home").show(); // CHECK PAGELIST HEADER

    if ($.trim($(".ui-widget.app.pagenavigation .ui-widget-header").text()) == "") {
      $(".ui-widget.app.pagenavigation .ui-widget-header").html("<h1>[$ChannelName$]</h1>");
    } // NAVIGATION APP HOVER / FOCUS


    $(".navigation li a").hover(function () {
      $(this).closest("li").addClass("hover");
    }, function () {
      $(this).closest("li").removeClass("hover");
    });
    $(".navigation li a").focus(function () {
      $(this).closest("li").addClass("hover");
    });
    $(".navigation li a").focusout(function () {
      $(this).closest("li").removeClass("hover");
    });
  },
  "Homepage": function Homepage() {
    // FOR SCOPE
    var _this = this;

    if ($("#gb-page.hp").length) {
      //MOVE HEADLINES MORE LINK
      $(".hp-row.three .headlines, .hp-row.four .headlines").each(function () {
        if ($(this).find(".more-link").length > 0) {
          $(this).find(".more-link").appendTo($(this).find(".ui-widget-header").attr("data-more-link", "true"));
        }
      }); //MOVE VIEW CALENDAR LINK

      $(".hp-row.three .upcomingevents, .hp-row.four .upcomingevents").each(function () {
        if ($(this).find(".view-calendar-link").length > 0) {
          $(this).find(".view-calendar-link").appendTo($(this).find(".ui-widget-header").attr("data-more-link", "true"));
        }
      }); //UPCOMING EVENTS BACKGROUND IMAGE

      var bgSrc = jQuery.trim('');
      var srcSplit = bgSrc.split("/");
      var srcSplitLen = srcSplit.length;

      if (bgSrc != "" && srcSplit[srcSplitLen - 1] != "default-man.jpg") {
        $(".hp-row:not(.five) .upcomingevents").css("background-image", "url(" + bgSrc + ")");
      } else {
        $(".hp-row:not(.five) .upcomingevents").css("background-image", "url('src/template/assets/defaults/default-events-bg.jpg')");
      }
    }
  },
  "Shortcuts": function Shortcuts() {
    var _this = this; // EDIT THESE TWO VARS


    var columnNums = [3, 1, 1, 1, 1]; // [960, 768, 640, 480, 320]

    var selector = "div.ui-widget.app.siteshortcuts"; // RETURN BREAKPOINT INDEX

    var bp = function bp() {
      switch (_this.GetBreakPoint()) {
        case "desktop":
          return 0;
          break;

        case "768":
          return 1;
          break;

        case "640":
          return 2;
          break;

        case "480":
          return 3;
          break;

        case "320":
          return 4;
          break;
      }
    }; // SET COLUMN NUM AND OTHER VARS


    var columnNum = columnNums[bp()];
    var endRange;
    $(selector).each(function () {
      // RETURN THE LI'S TO THE ORIGINAL UL
      $(".ui-widget-detail > ul.site-shortcuts", this).append($(".site-shortcuts-column > li", this)); // REMOVE COLUMN CONTAINER FOR REBUILD

      $(".site-shortcuts-columns", this).remove(); // GET SHORTCUT NUM

      var shortcutNum = $(".ui-widget-detail > ul.site-shortcuts > li", this).length; // ADD COLUMN CONTAINER

      $(".ui-widget-detail", this).prepend('<div class="site-shortcuts-columns"></div>'); // LOOP TO BUILD COLUMNS

      for (var i = 0; i < columnNum; i++) {
        // KEEP FROM ADDING EMPTY UL'S TO THE DOM
        if (i < shortcutNum) {
          // IF shortcutNum / columnNum REMAINDER IS BETWEEN .0 AND .5 AND THIS IS THE FIRST LOOP ITERATION
          // WE'LL ADD 1 TO THE END RANGE SO THAT THE EXTRA LINK GOES INTO THE FIRST COLUMN
          if (shortcutNum / columnNum % 1 > 0.0 && shortcutNum / columnNum % 1 < 0.5 && i == 0) {
            endRange = Math.round(shortcutNum / columnNum) + 1;
          } else if (shortcutNum / columnNum % 1 == 0.5 && i >= columnNum / i) {
            endRange = Math.round(shortcutNum / columnNum) - 1;
          } else {
            endRange = Math.round(shortcutNum / columnNum);
          } // ADD THE COLUMN UL


          $(".site-shortcuts-columns", this).append('<ul class="site-shortcuts-column column-' + (i + 1) + '"></ul>'); // MOVE THE RANGE OF LI'S TO THE COLUMN UL

          $(".site-shortcuts-column.column-" + (i + 1), this).append($(".ui-widget-detail > ul.site-shortcuts > li:nth-child(n+1):nth-child(-n+" + endRange + ")", this));
        }
      } // HIDE THE ORIGINAL UL


      $(".ui-widget-detail > ul.site-shortcuts", this).hide();
    });
  },
  "Headlines": function Headlines() {
    var _this = this;

    $(".hp-row.three .headlines, .hp-row.four .headlines").each(function () {
      var headline = this; //ADD COLUMN STRUCTURE TO THE APP DETAIL

      var articleCount = 1;
      var totalCount = $(this).find("li").length;

      switch (_this.GetBreakPoint()) {
        case "desktop":
          if ($(this).find(".cs-article-wrapper").length == 0) {
            $(this).find("li").each(function () {
              $(this).addClass("cs-article-wrapper").attr("data-orig-position", $(this).index() + 1);
            });
            $("<li class='headlines-column'><ul></ul></li><li class='headlines-column'><ul></ul></li><li class='headlines-column'><ul></ul></li>").prependTo($(this).find(".ui-articles"));
          }

          for (i = 1; i <= totalCount; i++) {
            if (articleCount > 3) {
              articleCount = 1;
            }

            $(".cs-article-wrapper[data-orig-position='" + i + "']").appendTo(".headlines-column:nth-child(" + articleCount + ") ul");
            articleCount++;
          }

          break;

        case "768":
        case "640":
          if ($(this).find(".cs-article-wrapper").length == 0) {
            $(this).find("li").each(function () {
              $(this).addClass("cs-article-wrapper").attr("data-orig-position", $(this).index() + 1);
            });
            $("<li class='headlines-column'><ul></ul></li><li class='headlines-column'><ul></ul></li><li class='headlines-column'><ul></ul></li>").prependTo($(this).find(".ui-articles"));
          }

          for (i = 1; i <= totalCount; i++) {
            if (articleCount > 2) {
              articleCount = 1;
            }

            $(".cs-article-wrapper[data-orig-position='" + i + "']").appendTo(".headlines-column:nth-child(" + articleCount + ") ul");
            articleCount++;
          }

          break;

        case "480":
        case "320":
          if ($(this).find(".cs-article-wrapper").length > 0) {
            for (i = 1; i <= totalCount; i++) {
              $(".cs-article-wrapper[data-orig-position='" + i + "']").appendTo(".headlines-column:first-child ul");
            }
          } else {
            $(this).find("li").each(function () {
              $(this).addClass("cs-article-wrapper").attr("data-orig-position", $(this).index() + 1);
            });
            $("<li class='headlines-column'><ul></ul></li><li class='headlines-column'><ul></ul></li><li class='headlines-column'><ul></ul></li>").prependTo($(this).find(".ui-articles"));

            for (i = 1; i <= totalCount; i++) {
              if (articleCount > 3) {
                articleCount = 1;
              }

              $(".cs-article-wrapper[data-orig-position='" + i + "']").appendTo(".headlines-column:nth-child(" + articleCount + ") ul");
              articleCount++;
            }
          }

          break;
      }
    }); //HOVER / FOCUS

    $(".cs-article-wrapper").hover(function () {
      $(this).addClass("hover");
    }, function () {
      $(this).removeClass("hover");
    });
    $(".cs-article-wrapper .ui-article-title a").focus(function () {
      $(this).closest("li").addClass("hover");
    });
    $(".cs-article-wrapper .ui-article-title a").focusout(function () {
      $(this).closest("li").removeClass("hover");
    });
  },
  "Footer": function Footer() {
    // FOR SCOPE
    var _this = this; // MOVE Bb FOOTER STUFF


    $(".gb-bb-footer.logo").html($("#sw-footer-logo").html());
    var schoolwiresLinks = '';
    schoolwiresLinks += '<li>' + $.trim($("#sw-footer-links li:eq(0)").html().replace("|", "")) + '</li>';
    schoolwiresLinks += '<li>' + $.trim($("#sw-footer-links li:eq(2)").html().replace("|", "")) + '</li>';
    schoolwiresLinks += '<li>' + $.trim($("#sw-footer-links li:eq(1)").html().replace("|", "")) + '</li>';
    $(".gb-bb-footer.links").append('<ul>' + schoolwiresLinks + '</ul>');
    $(".gb-bb-footer.copyright").append($("#sw-footer-copyright").html()); //SET MAP CONTAINER SIZE

    var footerDifference = $(window).width() - $(".footer-row.one .content-wrap").width();
    var mapWidth = $(".footer-row.one .footer-column.two").width() + footerDifference / 2;
    $("#gb-google-map-link").css("width", mapWidth); //BACK TO TOP

    $("#gb-to-top").on("click keydown", function (e) {
      if (_this.AllyClick(e)) {
        e.preventDefault();
        $("html, body").animate({
          scrollTop: 0
        }, "slow", function () {
          if (_this.GetBreakPoint() != "desktop") {
            $("#rs-menu-btn").focus();
          } else {
            $("li.sw-channel-item:first-child > a").focus();
          }
        });
      }
    });
  },
  "Slideshow": function Slideshow() {
    // FOR SCOPE
    var _this = this;

    if (true) {
      if ($("#sw-content-container10 .ui-widget.app.multimedia-gallery").length) {
        this.MMGPlugin();
      }
    }
  },
  "MMGPlugin": function MMGPlugin() {
    var _$$csMultimediaGaller;

    // FOR SCOPE
    var _this = this;

    var mmg = eval("multimediaGallery" + $("#sw-content-container10 .ui-widget.app.multimedia-gallery:first").attr("data-pmi"));
    mmg.props.defaultGallery = false;
    $("#sw-content-container10 .ui-widget.app.multimedia-gallery:first").csMultimediaGallery((_$$csMultimediaGaller = {
      "efficientLoad": true,
      "imageWidth": 1500,
      "imageHeight": 700,
      "mobileDescriptionContainer": [960, 768, 640, 480, 320],
      // [960, 768, 640, 480, 320]
      "galleryOverlay": false,
      "linkedElement": [],
      // ["image", "title", "overlay"]
      "playPauseControl": true,
      "backNextControls": true,
      "bullets": false,
      "thumbnails": false,
      "thumbnailViewerNum": [3, 4, 3, 3, 2],
      // NUMERICAL - [960 view, 768 view, 640 view, 480 view, 320 view]
      "autoRotate": true,
      "hoverPause": true,
      "transitionType": "fade",
      "transitionSpeed": 2,
      "transitionDelay": 6
    }, _defineProperty(_$$csMultimediaGaller, "transitionSpeed", 3), _defineProperty(_$$csMultimediaGaller, "transitionDelay", 8), _defineProperty(_$$csMultimediaGaller, "fullScreenRotator", false), _defineProperty(_$$csMultimediaGaller, "fullScreenBreakpoints", [960]), _defineProperty(_$$csMultimediaGaller, "onImageLoad", function onImageLoad(props) {}), _defineProperty(_$$csMultimediaGaller, "allImagesLoaded", function allImagesLoaded(props) {}), _defineProperty(_$$csMultimediaGaller, "onTransitionStart", function onTransitionStart(props) {}), _defineProperty(_$$csMultimediaGaller, "onTransitionEnd", function onTransitionEnd(props) {}), _defineProperty(_$$csMultimediaGaller, "allLoaded", function allLoaded(props) {
      //WRAP CONTROLS
      $(".mmg-control.play-pause").insertAfter(".mmg-control.back");
      $(".mmg-control").wrapAll("<div class='mmg-control-wrapper'></div>");
    }), _defineProperty(_$$csMultimediaGaller, "onWindowResize", function onWindowResize(props) {}), _$$csMultimediaGaller));
  },
  "CheckSlideshow": function CheckSlideshow() {
    // FOR SCOPE
    var _this = this;

    if ($(".hp").length && this.GetBreakPoint() != "desktop" && 'Multimedia Gallery' != "Streaming Video") {
      if ($(window).scrollTop() <= $("#hp-slideshow").offset().top + $("#hp-slideshow").height()) {
        if (this.SlideshowDescFixed) {
          $("#hp-slideshow").removeAttr("style");
          this.SlideshowDescFixed = false;
        }
      } else {
        if (!this.SlideshowDescFixed) {
          $("#hp-slideshow").css({
            "height": $("#hp-slideshow").height(),
            "overflow": "hidden"
          });
          this.SlideshowDescFixed = true;
        }
      }
    }
  },
  "StreamingVideo": function StreamingVideo() {
    // FOR SCOPE
    var _this = this;

    if (false) { var mobilePhoto, videoVendor; }
  },
  "ModEvents": function ModEvents() {
    // FOR SCOPE
    var template = this;
    $(".ui-widget.app.upcomingevents").modEvents({
      columns: "yes",
      monthLong: "no",
      dayWeek: "yes"
    });
    eventsByDay(".upcomingevents .ui-articles");

    function eventsByDay(container) {
      $(".ui-article", container).each(function () {
        if (!$(this).find("h1.ui-article-title.sw-calendar-block-date").size()) {
          var moveArticle = $(this).html();
          $(this).parent().prev().children().children().next().append(moveArticle);
          $(this).parent().remove();
        }

        ;
      });
      $(".ui-article", container).each(function () {
        var newDateTime = $('.upcoming-column.left h1', this).html().toLowerCase().split("</span>");
        var newDate = '';
        var dateIndex = newDateTime.length > 2 ? 2 : 1; //if the dayWeek is set to yes we need to account for that in our array indexing
        //if we have the day of the week make sure to include it.

        if (dateIndex > 1) {
          newDate += newDateTime[0] + "</span>";
        } //add in the month


        newDate += newDateTime[dateIndex - 1] + '</span>'; //the month is always the in the left array position to the date
        //wrap the date in a new tag

        newDate += '<span class="jeremy-date">' + newDateTime[dateIndex] + '</span>'; //append the date and month back into their columns

        $('.upcoming-column.left h1', this).html(newDate); //add an ALL DAY label if no time was given

        $('.upcoming-column.right .ui-article-description', this).each(function () {
          if ($('.sw-calendar-block-time', this).length < 1) {
            //if it doesnt exist add it
            $(this).prepend('<span class="sw-calendar-block-time">ALL DAY</span>');
          }

          $(".sw-calendar-block-time", this).appendTo($(this));
        }); //WRAP DATE AND MONTH IN A CONTAINER

        $(".jeremy-date, .joel-month", this).wrapAll("<span class='adam-hug'></span>");
        $(".adam-hug", this).insertBefore($(this).find(".joel-day"));
      });
    } //ADD NO EVENTS TEXT


    $(".upcomingevents").each(function () {
      if (!$(this).find(".ui-article").length) {
        $("<li><p>There are no upcoming events to display.</p></l1>").appendTo($(this).find(".ui-articles"));
      }
    }); //UPCOMING EVENTS SLIDER

    $(".hp-row.three .upcomingevents, .hp-row.four .upcomingevents").csArticleSlider({
      "viewerNum": [5, 3, 3, 1, 1],
      // NUMERICAL - [960 view, 768 view, 640 view, 480 view, 320 view]
      "transitionSpeed": .5,
      // SECONDS
      "slideFullView": false,
      "extend": function extend(config, element, ArticleSlider) {}
    });
    $(".hp-row.three .upcomingevents, .hp-row.four .upcomingevents").each(function () {
      $(this).find(".cs-article-slider-control").insertBefore($(this).find(".view-calendar-link"));
      $(this).find(".cs-article-slider-control, .view-calendar-link").wrapAll("<div class='cs-article-slider-control-wrapper'></div>");
      $(".cs-article-slider-control.back").html("<span>Previous</span>");
      $(".cs-article-slider-control.next").html("<span>Next</span>");
      $(this).find(".ui-widget-header").attr("data-slider-controls", "true");
      $(".cs-article-slider-control").show();
    }); //HOVER / FOCUS

    $(".upcomingevents .cs-article-viewer li").hover(function () {
      $(this).addClass("hover");
    }, function () {
      $(this).removeClass("hover");
    });
    $(".upcomingevents .cs-article-viewer li a").focus(function () {
      $(this).closest("li").addClass("hover");
    });
    $(".upcomingevents .cs-article-viewer li a").focusout(function () {
      $(this).closest("li").removeClass("hover");
    });
  },
  "GlobalIcons": function GlobalIcons() {
    //BACKGROUND IMAGE
    var bgSrc = jQuery.trim('');
    var srcSplit = bgSrc.split("/");
    var srcSplitLen = srcSplit.length;

    if (bgSrc != "" && srcSplit[srcSplitLen - 1] != "default-man.jpg") {
      $("#gb-icons").css("background-image", "url(" + bgSrc + ")");
    } else {
      $("#gb-icons").css("background-image", "url('src/template/assets/defaults/default-icons-bg.jpg')");
    }

    $("#gb-icons .content-wrap").creativeIcons({
      "iconNum": '8',
      "defaultIconSrc": "",
      "icons": [{
        "image": 'People/11.png',
        "showText": true,
        "text": 'Enrollment',
        "url": '#',
        "target": '_self'
      }, {
        "image": 'Classroom/44.png',
        "showText": true,
        "text": 'Student Meals',
        "url": '#',
        "target": '_self'
      }, {
        "image": 'Communication/54.png',
        "showText": true,
        "text": 'Calendar',
        "url": '#',
        "target": '_self'
      }, {
        "image": 'Site Utility/29.png',
        "showText": true,
        "text": 'Transportation',
        "url": '#',
        "target": '_self'
      }, {
        "image": 'Classroom/29.png',
        "showText": true,
        "text": 'Family Engagements',
        "url": '#',
        "target": '_self'
      }, {
        "image": 'Classroom/47.png',
        "showText": true,
        "text": 'Social - Emotional Learning',
        "url": '#',
        "target": '_self'
      }, {
        "image": 'Site Utility/15.png',
        "showText": true,
        "text": 'Governing Board',
        "url": '#',
        "target": '_self'
      }, {
        "image": 'Classroom/92.png',
        "showText": true,
        "text": 'Staffing',
        "url": '#',
        "target": '_self'
      }, {
        "image": '',
        "showText": true,
        "text": '',
        "url": '',
        "target": ''
      }, {
        "image": '',
        "showText": true,
        "text": '',
        "url": '',
        "target": ''
      }],
      "siteID": "[$SiteID$]",
      "siteAlias": "[$SiteAlias$]",
      "calendarLink": "[$SiteCalendarLink$]",
      "contactEmail": "[$SiteContactEmail$]",
      "allLoaded": function allLoaded() {}
    });
  },
  "SocialIcons": function SocialIcons() {
    var socialIcons = [{
      "show": true,
      "label": "Facebook",
      "class": "facebook",
      "url": '#',
      "target": '_blank'
    }, {
      "show": true,
      "label": "Twitter",
      "class": "twitter",
      "url": '#',
      "target": '_blank'
    }, {
      "show": true,
      "label": "YouTube",
      "class": "youtube",
      "url": '#',
      "target": '_blank'
    }, {
      "show": true,
      "label": "Instagram",
      "class": "instagram",
      "url": '#',
      "target": '_blank'
    }, {
      "show": true,
      "label": "LinkedIn",
      "class": "linkedin",
      "url": '#',
      "target": '_blank'
    }, {
      "show": true,
      "label": "Vimeo",
      "class": "vimeo",
      "url": '#',
      "target": '_blank'
    }, {
      "show": true,
      "label": "Flickr",
      "class": "flickr",
      "url": '#',
      "target": '_blank'
    }, {
      "show": true,
      "label": "Pinterest",
      "class": "pinterest",
      "url": '#',
      "target": '_blank'
    }, {
      "show": true,
      "label": "Rss",
      "class": "rss",
      "url": '',
      "target": '_blank'
    }];
    var icons = '';
    $.each(socialIcons, function (index, icon) {
      if (icon.show) {
        icons += '<a class="gb-social-media-icon ' + icon.class + ' district" href="' + icon.url + '" target="' + icon.target + '" aria-label="' + icon.label + '"></a>';
      }
    });

    if (icons.length) {
      $("#gb-social").prepend(icons);
    } else {
      $("#gb-social").hide();
    }
  },
  "RsMenu": function RsMenu() {
    // FOR SCOPE
    var _this = this;

    $.csRsMenu({
      "breakPoint": 768,
      // SYSTEM BREAK POINTS - 768, 640, 480, 320
      "slideDirection": "left-to-right",
      // OPTIONS - left-to-right, right-to-left
      "menuButtonParent": ".header-row.mobile",
      "menuBtnText": "MENU",
      "colors": {},
      "showDistrictHome": _this.ShowDistrictHome,
      "districtHomeText": "District Home",
      "showSchools": false,
      "schoolMenuText": "Schools",
      "showTranslate": true,
      "translateMenuText": "Translate",
      "translateVersion": 2,
      // 1 = FRAMESET, 2 = BRANDED
      "translateId": "",
      "translateLanguages": [// ["ENGLISH LANGUAGE NAME", "TRANSLATED LANGUAGE NAME", "LANGUAGE CODE"]
      ["Afrikaans", "Afrikaans", "af"], ["Albanian", "shqiptar", "sq"], ["Amharic", "አማርኛ", "am"], ["Arabic", "العربية", "ar"], ["Armenian", "հայերեն", "hy"], ["Azerbaijani", "Azərbaycan", "az"], ["Basque", "Euskal", "eu"], ["Belarusian", "Беларуская", "be"], ["Bengali", "বাঙালি", "bn"], ["Bosnian", "bosanski", "bs"], ["Bulgarian", "български", "bg"], ["Burmese", "မြန်မာ", "my"], ["Catalan", "català", "ca"], ["Cebuano", "Cebuano", "ceb"], ["Chichewa", "Chichewa", "ny"], ["Chinese Simplified", "简体中文", "zh-CN"], ["Chinese Traditional", "中國傳統的", "zh-TW"], ["Corsican", "Corsu", "co"], ["Croatian", "hrvatski", "hr"], ["Czech", "čeština", "cs"], ["Danish", "dansk", "da"], ["Dutch", "Nederlands", "nl"], ["Esperanto", "esperanto", "eo"], ["Estonian", "eesti", "et"], ["Filipino", "Pilipino", "tl"], ["Finnish", "suomalainen", "fi"], ["French", "français", "fr"], ["Galician", "galego", "gl"], ["Georgian", "ქართული", "ka"], ["German", "Deutsche", "de"], ["Greek", "ελληνικά", "el"], ["Gujarati", "ગુજરાતી", "gu"], ["Haitian Creole", "kreyòl ayisyen", "ht"], ["Hausa", "Hausa", "ha"], ["Hawaiian", "ʻŌlelo Hawaiʻi", "haw"], ["Hebrew", "עִברִית", "iw"], ["Hindi", "हिंदी", "hi"], ["Hmong", "Hmong", "hmn"], ["Hungarian", "Magyar", "hu"], ["Icelandic", "Íslenska", "is"], ["Igbo", "Igbo", "ig"], ["Indonesian", "bahasa Indonesia", "id"], ["Irish", "Gaeilge", "ga"], ["Italian", "italiano", "it"], ["Japanese", "日本語", "ja"], ["Javanese", "Jawa", "jw"], ["Kannada", "ಕನ್ನಡ", "kn"], ["Kazakh", "Қазақ", "kk"], ["Khmer", "ភាសាខ្មែរ", "km"], ["Korean", "한국어", "ko"], ["Kurdish", "Kurdî", "ku"], ["Kyrgyz", "Кыргызча", "ky"], ["Lao", "ລາວ", "lo"], ["Latin", "Latinae", "la"], ["Latvian", "Latvijas", "lv"], ["Lithuanian", "Lietuvos", "lt"], ["Luxembourgish", "lëtzebuergesch", "lb"], ["Macedonian", "Македонски", "mk"], ["Malagasy", "Malagasy", "mg"], ["Malay", "Malay", "ms"], ["Malayalam", "മലയാളം", "ml"], ["Maltese", "Malti", "mt"], ["Maori", "Maori", "mi"], ["Marathi", "मराठी", "mr"], ["Mongolian", "Монгол", "mn"], ["Myanmar", "မြန်မာ", "my"], ["Nepali", "नेपाली", "ne"], ["Norwegian", "norsk", "no"], ["Nyanja", "madambwe", "ny"], ["Pashto", "پښتو", "ps"], ["Persian", "فارسی", "fa"], ["Polish", "Polskie", "pl"], ["Portuguese", "português", "pt"], ["Punjabi", "ਪੰਜਾਬੀ ਦੇ", "pa"], ["Romanian", "Română", "ro"], ["Russian", "русский", "ru"], ["Samoan", "Samoa", "sm"], ["Scottish Gaelic", "Gàidhlig na h-Alba", "gd"], ["Serbian", "Српски", "sr"], ["Sesotho", "Sesotho", "st"], ["Shona", "Shona", "sn"], ["Sindhi", "سنڌي", "sd"], ["Sinhala", "සිංහල", "si"], ["Slovak", "slovenský", "sk"], ["Slovenian", "slovenski", "sl"], ["Somali", "Soomaali", "so"], ["Spanish", "Español", "es"], ["Sundanese", "Sunda", "su"], ["Swahili", "Kiswahili", "sw"], ["Swedish", "svenska", "sv"], ["Tajik", "Тоҷикистон", "tg"], ["Tamil", "தமிழ்", "ta"], ["Telugu", "తెలుగు", "te"], ["Thai", "ไทย", "th"], ["Turkish", "Türk", "tr"], ["Ukrainian", "український", "uk"], ["Urdu", "اردو", "ur"], ["Uzbek", "O'zbekiston", "uz"], ["Vietnamese", "Tiếng Việt", "vi"], ["Welsh", "Cymraeg", "cy"], ["Western Frisian", "Western Frysk", "fy"], ["Xhosa", "isiXhosa", "xh"], ["Yiddish", "ייִדיש", "yi"], ["Yoruba", "yorùbá", "yo"], ["Zulu", "Zulu", "zu"]],
      "showAccount": true,
      "accountMenuText": "User Options",
      "usePageListNavigation": false,
      "extraMenuOptions": CreativeTemplate.rsSchoolMenuItems,
      "siteID": "[$siteID$]",
      "allLoaded": function allLoaded() {}
    });
  },
  "AppAccordion": function AppAccordion() {
    $(".sp-column.one").csAppAccordion({
      "accordionBreakpoints": [768, 640, 480, 320]
    });
  },
  "Search": function Search() {
    // FOR SCOPE
    var _this = this; //SEARCH CONTROLS


    $(".cs-mystart-button.search .cs-button-selector, #search-control-close").on('click keypress', function (event) {
      if (_this.AllyClick(event) === true) {
        //DONT LET THE PAGE JUMP ON KEYPRESS
        event.preventDefault();

        if (!$(this).hasClass("open")) {
          openSearch();
        } else {
          closeSearch();
        }
      }
    });

    function openSearch() {
      $(".cs-mystart-button.search .cs-button-selector, #search-control-close").attr("aria-expanded", "true");
      $(".cs-mystart-button.search, #search-control-close").addClass("open");
      $("#search-control-close").attr("aria-expanded", "true");
      $("#gb-search").addClass("open").attr("aria-hidden", "false");
      $("#gb-search-input, #gb-search-button, #search-control-close").attr("tabindex", "0");
      $("#gb-search-input").focus();
    }

    function closeSearch() {
      $(".cs-mystart-button.search .cs-button-selector, #search-control-close").attr("aria-expanded", "false");
      $(".cs-mystart-button.search, #search-control-close").removeClass("open");
      $("#gb-search").removeClass("open").attr("aria-hidden", "true");
      $("#gb-search-input, #gb-search-button, #search-control-close").attr("tabindex", "-1");
      $(".cs-mystart-button.search .cs-button-selector").focus();
    } //SEARCH FORM SUBMISSION


    $("#gb-search-form").submit(function (e) {
      e.preventDefault();

      if ($.trim($("#gb-search-input").val()) != "I'm looking for..." && $.trim($("#gb-search-input").val()) != "") {
        window.location.href = "/site/Default.aspx?PageType=6&SiteID=[$SiteID$]&SearchString=" + $("#gb-search-input").val();
      }
    }); //SEARCH INPUT TEXT

    $("#gb-search-input").focus(function () {
      if ($(this).val() == "I'm looking for...") {
        $(this).val("");
      }
    });
    $("#gb-search-input").blur(function () {
      if ($(this).val() == "") {
        $(this).val("I'm looking for...");
      }
    }); //SEARCH KEYBOARD NAV

    $("#gb-search-input").on("keydown", function (e) {
      // CAPTURE KEY CODE
      switch (e.keyCode) {
        case _this.KeyCodes.tab:
          if (!e.shiftKey) {
            e.preventDefault();
            $("#gb-search-control").focus();
          }

          break;
      }
    });
    $("#gb-search-control").on("keydown", function (e) {
      // CAPTURE KEY CODE
      switch (e.keyCode) {
        case _this.KeyCodes.tab:
          if (!e.shiftKey) {
            if ($(this).hasClass("open")) {
              e.preventDefault();
              $("#gb-logo a").focus();
            }
          } else {
            e.preventDefault();
            $("#gb-search-input").focus();
          }

          break;
      }
    });
    $("#gb-logo a").focus(function () {
      if ($("#gb-search-control").hasClass("open")) {
        $("#gb-search-control").removeClass("open").attr("aria-expanded", "false");
        $("#gb-search").removeClass("open").attr("aria-hidden", "true");
        $("#gb-search-input").attr("tabindex", "-1");
      }
    });
  },
  "AllyClick": function AllyClick(event) {
    if (event.type == "click") {
      return true;
    } else if (event.type == "keydown") {
      if (event.keyCode == this.KeyCodes.space || event.keyCode == this.KeyCodes.enter) {
        return true;
      }
    } else {
      return false;
    }
  },
  "GetBreakPoint": function GetBreakPoint() {
    return window.getComputedStyle(document.querySelector("body"), ":before").getPropertyValue("content").replace(/"|'/g, "");
    /*"*/
  }
};
/******/ })()
;</script>