@import "../../../utilities/css/utilities";

$fjalla: Fjalla One, sans-serif;
$work: Work Sans, sans-serif;
$primaryColor: <SWCtrl controlname="Custom" props="Name:primaryColor" />;
$gbIconsBGColor: <SWCtrl controlname="Custom" props="Name:globalIconsBackgroundColor" />;
$eventsBGColor: <SWCtrl controlname="Custom" props="Name:upcomingEventsBackgroundColor" />;

/* SASS MIXINS */
@mixin pseudo-background {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top:0;
	width:100%;
	height: 100%;
}
@mixin pseudo {
	display: block;
	content:'';
	position:absolute;
}
@mixin transition($speed) {
	-ms-transition: all $speed ease 0s;
	-moz-transition: all $speed ease 0s;
	-webkit-transition: all $speed ease 0s;
	transition: all $speed ease 0s;
}
@mixin ally {
	width: 0 !important;
	height: 0 !important;
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	overflow: hidden !important;
}
@mixin content-wrap {
	max-width:1192px;
	padding:0px 30px;
	margin: 0 auto;
	position: relative;
}
@mixin template-icon {
	font-family: 'template-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* GroupBegin Global */
body:before {
	content: "480";
}
.show480 {
	display: block;
}
.hide480 {
	display: none;
}
#gb-icons {
	padding:10px 0;

	.content-wrap {
		padding: 0;
	}
}
.cs-global-icons {
	li {
		width:50%;
	}
	a {
		width:100%;
		height: auto;
		padding-bottom: 5px;
	}
	.text {
		font-size: .75rem;
		min-height: 32px;
	}
	.icon {
		font-size: 2rem;
		margin-bottom: 10px;
	}
}
/* GroupEnd */

/* GroupBegin Header */
.header-row.two {
	padding-bottom: 22px;

	.content-wrap {
		padding:0 17px;
	}
}
#gb-sitename h1 {
	font-size: 1.39rem;
}
#gb-logo {
	width:68px;
}
/* GroupEnd */

/* GroupBegin Footer */
#gb-social {
	flex-wrap: wrap;
	padding-bottom: 12px;
}
.gb-social-media-icon {
	margin: 0 14px 18px;
}
#gb-contact {
	padding: 30px 23px 20px;

	p:last-child {
		margin-bottom: 0;
	}
	h2 {
		font-size: 1.25rem;
	}
}
.contact-column {
	display: block;

	&.two {
		padding-left: 30px;

		&::before {
			display: none;
		}
	}
}
.footer-row.one .footer-column.two {
	height: 160px;
}
.footer-row.three {
	.content-wrap {
		padding: 0 10px;
	}
	.footer-column.two {
		flex-direction: column;
		align-items: flex-start;
		padding-bottom: 9px;
	}
}
.footer-link {
	margin-bottom: 6px;
}
#gb-bb-footer {
	flex-direction: column;
}
.gb-bb-footer.logo {
	margin-right: 0;
}
.gb-bb-footer.links {
	ul {
		align-items: center;
		justify-content: center;
	}
	a {
		text-align: center;
	}
	li:last-child {
	margin-top: -8px;
	}
}

.gb-bb-footer.copyright {
	text-align: center;
}
/* GroupEnd */

/* GroupBegin Apps */

/* GroupEnd */

/* GroupBegin Homepage */
#hp-slideshow-outer #hp-slideshow {
	.mmg-control-wrapper,
	.cs-fullscreen-video-buttons {
		bottom: -30px;
	}
	.mmg-control,
	.cs-fullscreen-video-button {
		height: 42px;
		width: 42px;
		border-width: 2px;
		margin: 0 4px;
		font-size: 18px;
	}
	.mmg-description,
	.mmg-description:not(.sv) {
		padding:46px 15px 30px;
	}
	.mmg-description-caption {
		padding-top: 5px;
		line-height: 1.7;
	}
}
.ui-hp div.ui-widget.app div.ui-widget-header[data-more-link=true]::before {
	display: none;
}
.ui-hp div.ui-widget.app div.ui-widget-header[data-more-link=true] a {
	border:0;
	margin-top: 6px;
}
.ui-hp div.ui-widget.app div.ui-widget-header[data-more-link=true] {
	display: block;
}
.headlines-column {
	width:100%;

	&:nth-child(2) {
		display: none;
	}
	.cs-article-wrapper {
		padding-bottom: 16px;

		.ui-article-title {
			padding: 13px 15px 0;
		}
		.ui-article-description {
			padding: 9px 15px 0;
		}
	}
}
.hp-row.three .headlines .ui-articles,
.hp-row.four .headlines .ui-articles {
	display: block;
}
.ui-hp div.ui-widget.app div.ui-widget-header[data-more-link=true][data-slider-controls=true] .view-calendar-link {
	padding-left:12px;
	margin-top: 0;

	&::before {
		display: none;
	}
}
.hp-row.five {
	.content-wrap {
		display: block;

		.hp-column {
			width:auto;
			max-width: none;
		}
	}

}
/* GroupEnd */

/* GroupBegin Subpage */

/* GroupEnd */
