@import "../../../utilities/css/utilities";

$fjalla: Fjalla One, sans-serif;
$work: Work Sans, sans-serif;
$primaryColor: <SWCtrl controlname="Custom" props="Name:primaryColor" />;
$gbIconsBGColor: <SWCtrl controlname="Custom" props="Name:globalIconsBackgroundColor" />;
$eventsBGColor: <SWCtrl controlname="Custom" props="Name:upcomingEventsBackgroundColor" />;

/* SASS MIXINS */
@mixin pseudo-background {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top:0;
	width:100%;
	height: 100%;
}
@mixin pseudo {
	display: block;
	content:'';
	position:absolute;
}
@mixin transition($speed) {
	-ms-transition: all $speed ease 0s;
	-moz-transition: all $speed ease 0s;
	-webkit-transition: all $speed ease 0s;
	transition: all $speed ease 0s;
}
@mixin ally {
	width: 0 !important;
	height: 0 !important;
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	overflow: hidden !important;
}
@mixin content-wrap {
	max-width:1192px;
	padding:0px 30px;
	margin: 0 auto;
	position: relative;
}
@mixin template-icon {
	font-family: 'template-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* GroupBegin Global */
body:before {
	content: "768";
}
.ui-column-one-quarter.region {
	width: 50%;
	float: left;
	clear: left;
}
.ui-column-one-third.region {
	width: 50%;
	float: left;
}
.ui-column-two-thirds.region {
	width: 50%;
	float: left;
}
.region.right {
	float:left;
}
.region.clearleft {
	clear: none;
}
/* HIDDEN ELEMENTS */
#header-background-title,
.header-row.one,
.header-row.three,
.footer-row.two {
	display: none;
}
#gb-icons {
	padding: 30px 0 35px;

	.content-wrap {
		padding: 0 18px;;
	}
}
.cs-global-icons {
	li {
		padding: 10px;
	}
	a {
		width:160px;
		height: 128px;
	}
	.icon {
		font-size: 2.8rem;
	}
}
/* GroupEnd */

/* GroupBegin Header */
.header-row.mobile {
	background:$primaryColor;
}
#rs-menu-btn {
	float:none;
	color:#fff;
	font-size: .93rem;
	height: 36px;
	width: 130px;

	&::before {
		@include template-icon;
		content: "\e90c";
		background:transparent;
		font-size: 26px;
		left: 20px;
		top:6px;
		padding: 0;
		position: absolute;
	}

	span {
		padding: 9px 0px 0px 63px;
	}
}
.header-row.two {
	margin-bottom: 0;

	.content-wrap {
		padding:0 20px;
	}
}
#gb-logo {
	padding-right: 14px;
}
/* GroupEnd */

/* GroupBegin Footer */
.footer-row.one {
	.content-wrap {
		display: block;
		padding:0;
	}
	.footer-column {
		height: auto;

		&.two {
			height:350px;
		}
	}
}
#gb-social {
	align-items: center;
	justify-content: center;
	padding:26px 0;
}
.gb-social-media-icon {
	 margin: 0 16px;
}
#gb-contact {
	@include content-wrap;
	width: 100%;
	padding:30px;
	box-sizing: border-box;
}
#gb-map {
	height: 100%;
}
#gb-google-map-link {
	position: relative;
	width:100% !important;
}
.footer-row.three {
	padding-top: 23px;

	.content-wrap {
		flex-direction: column-reverse;
		align-items: flex-start;
	}
	.footer-column.two {
		padding-bottom: 20px;
	}
}
.footer-link {
	margin:0 10px 0 0;
}
/* GroupEnd */

/* GroupBegin Apps */

/* GroupEnd */

/* GroupBegin Homepage */
#hp-slideshow-outer #hp-slideshow {
	.mmg-description:not(.sv) {
		padding-top: 48px;
		padding-bottom: 33px;
	}
	.mmg-description-links {
		position: relative;
		right:auto;
		top:auto;
		text-align:center;
		padding-top: 10px;
	}
}
.headlines-column {
	width:50%;

	&:last-child {
		display: none;
	}
}
.hp-row.three {
	.site-shortcuts-column {
		margin:0;
		padding: 0;
		width: auto;
	}
}
.hp-row.four {
	.site-shortcuts-column {
		margin:0;
		padding: 0;
		width: auto;
	}
}
.hp-row.five {
	padding-top: 26px;

	.double-wrap {
		flex-wrap: wrap;

		.hp-column {
			width:50%;
			max-width:50%;
		}
	}

}
/* GroupEnd */

/* GroupBegin Subpage */
#sp-content {
	min-height: 0;
}
.sp-row {
	&.two {
		padding-top: 40px;

		.content-wrap {
			display: block;
			padding: 0 5px;
		}
		.sp-column {
			&.one {
				padding:0 25px;

				div.ui-widget.app div.ui-widget-header {
					cursor: pointer;

					&::after {
						@include template-icon;
						content: "\e90a";
						position: absolute;
						right: 5px;
						top: 15px;
						font-size: 20px;
						@include transition(.4s);
					}
				}

				.open div.ui-widget-header::after {
					transform: rotate(90deg);
				}
			}
			&.two {
				padding: 0;

				#sw-content-layout-wrapper > div[id*=sw-content-layout] {
					width: 100%;
				}
			}
		}
	}
}
/* GroupEnd */
