body {
	background:#36454f;
	color: #efefef;
	padding: 35px;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
.row {
	display: flex;
	height: calc(100vh - 100px);
}
.col-md-6 {
	display: flex;
	flex-direction: column;
}
#element-syntax-toggle {
	font-weight: 400;
	font-size: 1rem;
	float: right;
	cursor: pointer;
	padding-top: 6px;
	line-height: 1rem;
}
#element-syntax {
	font-family: 'Source Code Pro', monospace;
	font-size: 1rem;
	overflow: hidden;
	height: 0;
	-ms-transition: all .4s ease 0s;
	-moz-transition: all .4s ease 0s;
	-webkit-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
}
#element-syntax.open {
	height: 530px;
}
#element-syntax .inner {
	border: 1px solid;
	border-radius: 2px;
	padding: 10px;
}
.example {
	background: #292d3e;
	padding: 5px 10px;
	display: inline-block;
	margin-bottom: 10px;
}
.element-terminal {
	background: #292d3e;
	border: 0;
	height: 100%;
	width: 100%;
	color: #969ecc;
	font-family: 'Source Code Pro', monospace;
	border-radius: 2px;
}
#elements-for-dev {
	margin-bottom: 55px;
}
#generate {
	margin:10px 0px;
}
@media (max-width:1023px){
	.row {
		flex-direction:column;
	}
	.col-md-6 {
		flex-basis: 50%;
	}
}